<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.uaap.dao.SysRoleExtendMapper" >
  <resultMap id="BaseResultMap" type="com.cj.uaap.entity.SysRoleExtend" >
    <id column="ROLE_EXTEND_ID" property="roleExtendId" jdbcType="BIGINT" />
    <result column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLE_EXTEND_ID, ROLE_ID, PARENT_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE_EXTEND
    where ROLE_EXTEND_ID = #{roleExtendId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_ROLE_EXTEND
    where ROLE_EXTEND_ID = #{roleExtendId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cj.uaap.entity.SysRoleExtend" >
    insert into SYS_ROLE_EXTEND (ROLE_EXTEND_ID, ROLE_ID, PARENT_ID
      )
    values (#{roleExtendId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cj.uaap.entity.SysRoleExtend" >
    insert into SYS_ROLE_EXTEND
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleExtendId != null" >
        ROLE_EXTEND_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleExtendId != null" >
        #{roleExtendId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cj.uaap.entity.SysRoleExtend" >
    update SYS_ROLE_EXTEND
    <set >
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
    </set>
    where ROLE_EXTEND_ID = #{roleExtendId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cj.uaap.entity.SysRoleExtend" >
    update SYS_ROLE_EXTEND
    set ROLE_ID = #{roleId,jdbcType=BIGINT},
      PARENT_ID = #{parentId,jdbcType=BIGINT}
    where ROLE_EXTEND_ID = #{roleExtendId,jdbcType=BIGINT}
  </update>
</mapper>