<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.cj.uaap.dao.UserDao">
	<resultMap type="User" id="User_result">
		<id column="user_Id" property="userId"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="locked" property="locked"/>
		<result column="owner_Id" property="ownerId"/>
	</resultMap>
	<parameterMap type="User" id="User_parameter">
		<parameter property="userId" resultMap="user_Id" />
		<parameter property="username" resultMap="username" />
		<parameter property="password" resultMap="password" />
		<parameter property="salt" resultMap="salt" />
		<parameter property="locked" resultMap="locked" />
		<parameter property="ownerId" resultMap="owner_Id" />
	</parameterMap>
	<!-- 插入用户： 1.由数据库生成id并赋值到user对象 -->
	<insert id="createUser"  parameterMap="User_parameter"  useGeneratedKeys="true" keyProperty="userId">
		insert into sys_user (
		username,password, salt,locked,owner_id)
		values (
		#{username},#{password}, #{salt},
		#{locked},#{ownerId})
	</insert>
	<select id="findByUsername" parameterType="String" resultMap="User_result">
		select user_id, username, password, salt, owner_id,locked from sys_user where username=#{username}
	</select>
	<select id="findOne" parameterType="long" resultMap="User_result">
		select user_id, username, password, salt, owner_id,locked from sys_user where user_id=#{userId}
	</select>
	<update id="updateUser" parameterMap="User_parameter">
		update  sys_user 
		set username=#{username},
        password=#{password}, 
		salt= #{salt},
		locked=#{locked},
		owner_id=#{ownerId}
		where user_id = #{userId}
	</update>
</mapper> 
